---
import "98.css";
import Desktop from "../../layouts/desktop.astro";
import Window from "../../components/Window.astro";
import { getCollection } from "astro:content";
import { render } from "astro:content";
import type { CollectionEntry } from "astro:content";
import FontAwesomeIcon from "../../components/FontAwesomeIcon.astro";
import {
  faBluesky,
  faLinkedin,
  faMastodon,
} from "@fortawesome/free-brands-svg-icons";
import { faCalendar } from "@fortawesome/free-solid-svg-icons";
import { getEntry } from "astro:content";
interface Props {
  post: CollectionEntry<"blog">;
}

const posts = await getCollection("blog");

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.id },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await render(post);
const author = await getEntry(post.data.author);
---

<head>
  <meta charset="UTF-8" />
  <style is:global>
    .window {
      height: 100%;
    }
    .window-body {
      height: calc(100% - 3rem - 8px);
      padding: 0 16px;
      display: flex;
      overflow: hidden;
    }

    .list-container {
      max-width: 300px;
      margin-right: 1rem;
      border-right: 1px solid var(--colors-lavender);
    }

    .blog-container {
      overflow: scroll;
      max-width: 1000px;
      padding: 16px 0;
    }

    img {
      max-width: 400px;
      width: 100%;
      height: 100%;
    }

    .image-reset {
      max-width: unset;
      width: inherit;
      height: inherit;
    }

    @media screen and (max-width: 1100px) {
      .window-body {
        flex-direction: column-reverse;
      }

      .blog-container {
        margin-bottom: 1rem;
      }

      .list-container {
        max-width: unset;
        width: 100%;
        border-right: none;
        border-top: 1px solid var(--colors-lavender);
      }
    }
  </style>
</head>
<Desktop title={post.data.title}>
  <Window title="blog post">
    <div class="list-container">
      <h4>More Posts</h4>
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.id}`}>{post.data.title}</a>
            </li>
          ))
        }
      </ul>
    </div>

    <div class="blog-container">
      <p>
        Published on: {post.data.pubDate.toDateString()} by <a
          href={`/organizers/${author.id}`}>{author.data.name}</a
        >
      </p>
      <Content />
      <div class="social-line">
        Follow us:
        <a href="https://lu.ma/phlcodeclub" target="_blank" rel="noreferrer">
          <FontAwesomeIcon icon={faCalendar} />
          Calendar
        </a>
        <a
          href="https://bsky.app/profile/phlcode.club"
          target="_blank"
          rel="noreferrer"
        >
          <FontAwesomeIcon icon={faBluesky} />
          Bluesky
        </a>
        <a
          href="https://www.linkedin.com/company/phlcodeclub/"
          target="_blank"
          rel="noreferrer"
        >
          <FontAwesomeIcon icon={faLinkedin} />
          Linkedin
        </a>
        <a
          href="https://jawns.club/@phl_code_club"
          target="_blank"
          rel="noreferrer"
        >
          <FontAwesomeIcon icon={faMastodon} />
          Mastadon
        </a>
      </div>
    </div>
  </Window>
</Desktop>
