---
import "98.css";
import Desktop from "../../layouts/desktop.astro";
import Window from "../../components/Window.astro";
import FontAwesomeIcon from "../../components/FontAwesomeIcon.astro";
import { getPostsIncludingExternal } from "../../lib/get-posts-including-external";
import { faArrowUpRightFromSquare } from "@fortawesome/free-solid-svg-icons";
const posts = await getPostsIncludingExternal();
---

<Desktop title="PHL Code Club: Blog">
  <Window title="blog">
    <ul>
      {
        posts.map((post) => (
          <li>
            <div class="post">
              <a
                href={post.link}
                class="post-title"
                target={post.external ? "_blank" : undefined}
              >
                <h1>
                  {post.title}
                  {post.external && (
                    <FontAwesomeIcon icon={faArrowUpRightFromSquare} />
                  )}
                </h1>
              </a>
              <h2 class="subtitle">
                Posted on {post.pubDate.toDateString()}
                {post.author && " by "}
                {post.author &&
                  (typeof post.author === "string" ? (
                    post.author
                  ) : (
                    <a href={`/organizers/${post.author.id}`}>
                      {post.author.data.name}{" "}
                    </a>
                  ))}
              </h2>
            </div>
          </li>
        ))
      }
    </ul>
  </Window>
</Desktop>

<style is:global>
  ul {
    padding: 0;
    list-style: none;
  }

  .post-title {
    margin: 0 0.5rem;
    h1 {
      font-size: 2rem;
      margin: 0;
    }
  }

  .subtitle {
    font-size: 1.25rem;
    margin: 0 0.25rem;
    margin-bottom: 0.5rem;
  }

  .post {
    margin: 1rem 0;
    padding: 1rem;
    border: 2px solid var(--colors-lavender);
    border-radius: 2px;
  }
</style>
